/* Your Website Styles */
body{
	background: orange;
	font-size:12px;
	font-family:verdana;
	margin-top:100px;
	display:block;
}
h1{
	font-color:#000;
	border:2px solid #333;
	font-size:3em;
	text-align: center;

}

/*may not be required*/

.banner{
	position:absolute;
	top:0px;
	left:453px;
	width:1000px;
	height:20px;
	background:#333;
	
}
img{
	width:70%;
	height:auto;
	margin-left:25px;
}

.bar{
	position: absolute;
	left: 453px;
	background:#666;
	width:1000px;
	height:50px;
	text-align:center;
}

/* Show Grid */
.showgrid {
	background: #ffffff repeat-y;
}
