/* Your Website Styles */
body{
	background: orange;
	width:300px;
	font-size:12px;
	font-family:verdana;
	margin-left:100px;
	margin-top:100px;
}
h1{
	font-color:#000;
	border:2px solid #333;
	font-size:3em;
	text-align: center;

}

/*may not be required*/

.banner{
	width:300px;
	background:#333;
	margin:10px;
}
img{
	width:70%;
	height:auto;
	margin-left:25px;
}


/* Show Grid */
.showgrid {
	background: #ffffff repeat-y;
}